<% if(@user.id!=1) %>
No permission to acess
<% else %>
<center>
<table>
<h1>Users list</h1>
<% @users.each do |user| %>
  <tr>
    <td><%= image_tag(user.img_url,:class => "list_image_user_photo") %></td>
    <td><b><%= user.name %></b></td>
  </tr>
<% end %>
</table>
</center>
<% end %>